{% extends 'base.html.twig' %}

{% block title %}Modifier une formule de jeu{% endblock %}

{% block body %}
    <h1>Modifier une formule de jeu</h1>

    {{ include('parametrage/formule_de_jeu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_fdj_index') }}">Retour à la liste des formules de jeu</a>

    {{ include('parametrage/formule_de_jeu/_delete_form.html.twig') }}
{% endblock %}
