{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle formule de jeu{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formule de jeu</h1>

    {{ include('parametrage/formule_de_jeu/_form.html.twig') }}

    <a href="{{ path('app_fdj_index') }}">Retour à la liste des formules de jeu</a>
{% endblock %}
