<select name="menu" onchange="location = this.value">
    <option>☰</option>
{#    <option value="{{ path('app_championnat_show', {'id': competition.championnat.id}) }}">{{ competition.championnat.nom }}</option>#}
</select>
