<form method="post" action="{{ path('app_mcc_delete', {'id': mode_calcul_championnat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mode_calcul_championnat.id) }}">
    <button class="btn">Supprimer</button>
</form>
