{% extends 'base.html.twig' %}

{% block title %}New Repere{% endblock %}

{% block body %}
    <h1>Create new Repere</h1>

    {{ include('repere/_form.html.twig') }}

    <a href="{{ path('app_repere_index') }}">back to list</a>
{% endblock %}
