<header class="container">
    <hgroup>
        <h1><a class="contrast" href="{{ path('app_accueil') }}">Projet 7</a></h1>
        <p>Streetgolfeur un jour, StreetGolf pour toujours ...</p>
    </hgroup>
    <nav>
        <ul>
            <li><strong>&nbsp;</strong></li>
        </ul>
        <ul>
